$headerBackgroundColor: rgb(167, 167, 167);
$headerTextColor: rgb(0, 0, 0);


header {
  h1 {
    background: $headerBackgroundColor;
    color: $headerTextColor;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(255, 234, 202);
  }
  ul li button {
    margin: 24px;
    color: rgb(43, 136, 223);
  }
  // ul li:focus {
  //   background-color: white;
  // }
}